// app global css in SCSS form
body {
  background-color: #023e8a; /* For browsers that do not support gradients */
  background-image: linear-gradient(#023e8a, #00b4d8);
}

.q-layout__section--marginal {
  background-color: #023e8a;
  height: 65px;
  padding: 10px 5px 10px 5px;
}

.note {
  background-color: $yellow-1;
}

.note:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 22px 22px 0;
  border-style: solid;
  border-color: rgb(228, 229, 197) transparent;
}

.list-item {
  transition: all 0.25s ease;

  &.dragging {
    box-shadow: $shadow-5;
    transform: rotate(-2deg);
  }
}

// Allow displaying \n as <br> on UI
.whitespace-preline {
  white-space: pre-line;
}

.checklist {
  background-color: rgb(230, 247, 250); 
}

.checklist:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 22px 22px 0;
  border-style: solid;
  border-color: rgb(174, 198, 202) transparent;
}

.q-item--clickable {
  background: #4ab2ca;
  color: #fff;
  font-weight: 500;
  margin: 10px 20px 10px 20px;
  opacity: 0.9;
  border-radius: 3px;;
}

body.desktop .q-focus-helper:after {
  background: #000;
}

.q-item--clickable .q-icon {
  color: #fff;
}

.q-btn:before {
  box-shadow: none;
}
.trash-icon {
  color: rgb(0, 0, 0);
}

.strikeout {
  text-decoration: line-through;
}

body.desktop .q-hoverable:hover > .q-focus-helper {
  background: transparent;
  opacity: 0.15;
}

.q-btn--round {
  border-radius: 0%;
  padding: 0;
  min-width: 0em;
  min-height: 0em;
  transition: 0.5s;
  background-color: none;
}

.q-list {
  border-top: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
}

.q-card__section {
  border-top: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  padding: 15px;
}

.q-pa-md {
  padding: 36px 16px;
}